# Práctica 1: Reglas de asociación

Imports necesarios para la realización de la práctica

In [303]:
import numpy as np
import pandas as pd
import sklearn as sk
import mlxtend as mlx
import apyori as apy
import matplotlib as mpl
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [304]:
itemsetOG = pd.read_csv("BlackFriday.csv")
itemset = itemsetOG.sample(frac=0.005)
itemset

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
195057,1000622,P00121642,M,26-35,0,B,1,1,5,14.0,NaN
121775,1001606,P00035342,F,36-45,3,A,4+,0,2,4.0,14.0
111405,1003532,P00313042,F,36-45,14,B,1,0,5,14.0,NaN
77386,1005118,P00022142,M,0-17,10,B,2,0,1,NaN,NaN
208354,1003390,P00154242,F,46-50,20,C,1,1,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
54213,1005554,P00030842,M,26-35,1,B,1,0,1,2.0,15.0
187903,1001587,P00273542,F,26-35,3,B,3,0,8,14.0,NaN
137628,1001755,P00369642,F,18-25,4,B,4+,0,11,NaN,NaN
12894,1001891,P00022942,M,46-50,1,C,3,1,5,8.0,NaN
45403,1003878,P00344442,M,36-45,16,B,4+,0,5,8.0,14.0

#### Pregunta Nº1: Prueba al menos tres configuraciones de soporte y frecuencia para cada género, edad y tipo de producto. (1 punto)

In [305]:
# Hiperparámetros
min_support_edad = [0.3, 0.4, 0.5]
min_confidence_edad = [0.7, 0.8, 0.9]

min_support_tprod = [0.1, 0.2, 0.3]
min_confidence_tprod = [0.7, 0.8, 0.9]

min_support_genero = [0.8, 0.9, 1]
min_confidence_genero = [0.7, 0.8, 0.9]

Configuraciones de soporte y frecuencia

- Para Edad:

In [306]:
tablaEdad = itemset[['Product_ID', 'Age']].dropna().drop_duplicates()
tablaEdad = tablaEdad.groupby('Age').agg(lambda x: list(x)).reset_index()
tablaEdad

     Age                                         Product_ID
0   0-17  [P00022142, P00354342, P00251942, P00028842, P...
1  18-25  [P00104942, P00058442, P00283942, P00089742, P...
2  26-35  [P00121642, P00101942, P00136742, P00058242, P...
3  36-45  [P00035342, P00313042, P00152942, P00256642, P...
4  46-50  [P00154242, P00116842, P00110142, P00048742, P...
5  51-55  [P00031042, P00362542, P00191742, P00118742, P...
6    55+  [P00149542, P00084042, P00057742, P00145942, P...

In [307]:
te = TransactionEncoder()
te_ary = te.fit(tablaEdad['Product_ID'].to_list()).transform(tablaEdad['Product_ID'].to_list())
df_edad = pd.DataFrame(te_ary, columns=te.columns_)
df_edad
cont = 0
for i in min_support_edad:
    print("Para min_support = " + str(i) + " y min_confidence = " + str(min_confidence_edad[cont]) + ":")
    frequent_itemsets_edad = apriori(df_edad, min_support=i, use_colnames=True, verbose=1)
    print(frequent_itemsets_edad)
    print("")

    if frequent_itemsets_edad.empty:
        print("No hay reglas de asociación que cumplan con los requisitos.")
    else:
        rules_edad = association_rules(frequent_itemsets_edad, metric="confidence", min_threshold=min_confidence_edad[cont])
        print(rules_edad)

    print("")
    cont = cont + 1

Para min_support = 0.3 y min_confidence = 0.7:
Processing 15 combinations | Sampling itemset size 15431
        support                                           itemsets
0      0.428571                                        (P00006942)
1      0.428571                                        (P00015542)
2      0.428571                                        (P00025442)
3      0.428571                                        (P00031042)
4      0.428571                                        (P00032042)
...         ...                                                ...
33084  0.428571  (P00240442, P00057642, P00032042, P00130742, P...
33085  0.428571  (P00240442, P00057642, P00130742, P00046742, P...
33086  0.428571  (P00240442, P00057642, P00032042, P00130742, P...
33087  0.428571  (P00240442, P00057642, P00032042, P00130742, P...
33088  0.428571  (P00240442, P00057642, P00032042, P00130742, P...

[33089 rows x 2 columns]

- Para Tipo de producto 1:

In [ ]:
tablaTProd1 = itemset[['Product_ID', 'Product_Category_1']].dropna().drop_duplicates()
tablaTProd1 = tablaTProd1.groupby('Product_Category_1').agg(lambda x: list(x)).reset_index()
tablaTProd1

    Product_Category_1                                         Product_ID
0                    1  [P00030842, P00025442, P00044442, P00053142, P...
1                    2  [P00228542, P00207642, P00369942, P00277642, P...
2                    3  [P00299442, P00119142, P00289942, P00057542, P...
3                    4  [P00102642, P00082742, P00250542, P00135242, P...
4                    5  [P00212942, P00178942, P00247042, P00043642, P...
5                    6  [P00116942, P00207942, P00148642, P00219942, P...
6                    7  [P00072242, P00024042, P00265342, P00247642, P...
7                    8  [P00154642, P00079942, P00370642, P00003642, P...
8                   10  [P00161842, P00159542, P00031242, P00085342, P...
9                   11  [P00116742, P00124142, P00214642, P00358342, P...
10                  12  [P00087842, P00276142, P00084042, P00083942, P...
11                  13  [P00171342, P00212042, P00084342, P00084642, P...
12                  14                  [P00154842, P00156942, P00002842]
13                  15  [P00209642, P00111042, P00174242, P00204342, P...
14                  16  [P00250342, P00225442, P00046942, P00255842, P...
15                  17                                        [P00285242]
16                  18  [P00054042, P00355042, P00325542, P00271442, P...

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(tablaTProd1['Product_ID'].to_list()).transform(tablaTProd1['Product_ID'].to_list())
df_tprod1 = pd.DataFrame(te_ary, columns=te.columns_)
df_tprod1

cont = 0
for i in min_support_tprod:
    print("Para min_support = " + str(i) + " y min_confidence = " + str(min_confidence_tprod[cont]) + ":")
    frequent_itemsets_tprod1 = apriori(df_tprod1, min_support=i, use_colnames=True, verbose=1)
    print(frequent_itemsets_tprod1)
    print("")

    if frequent_itemsets_tprod1.empty:
        print("No hay reglas de asociación que cumplan con los requisitos.")
    else:
        rules_tprod1 = association_rules(frequent_itemsets_tprod1, metric="confidence", min_threshold=min_confidence_tprod[cont])
        print(rules_tprod1)

    print("")
    cont = cont + 1

Para min_support = 0.3 y min_confidence = 0.7:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

Para min_support = 0.4 y min_confidence = 0.8:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

Para min_support = 0.5 y min_confidence = 0.9:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

- Para Tipo de producto 2:

In [ ]:
tablaTProd2 = itemset[['Product_ID', 'Product_Category_2']].dropna().drop_duplicates()
tablaTProd2 = tablaTProd2.groupby('Product_Category_2').agg(lambda x: list(x)).reset_index()
tablaTProd2

    Product_Category_2                                         Product_ID
0                  2.0  [P00030842, P00025442, P00154042, P00142942, P...
1                  3.0  [P00369942, P00277642, P00118342, P00193642, P...
2                  4.0  [P00299442, P00000242, P00182642, P00187642, P...
3                  5.0  [P00207642, P00116842, P00167942, P00250542, P...
4                  6.0  [P00277442, P00277542, P00352842, P00080342, P...
5                  7.0                                        [P00188442]
6                  8.0  [P00178942, P00102642, P00207942, P00161942, P...
7                  9.0  [P00192042, P00074642, P00242142, P00275842, P...
8                 10.0                  [P00116942, P00148642, P00313642]
9                 11.0  [P00182542, P00241242, P00122442, P00330342, P...
10                12.0  [P00284742, P00102242, P00101042, P00267142, P...
11                13.0  [P00214642, P00161842, P00160042, P00263842, P...
12                14.0  [P00247042, P00117442, P00220442, P00073742, P...
13                15.0  [P00183342, P00240242, P00111142, P00037042, P...
14                16.0  [P00370642, P00044442, P00216142, P00084842, P...
15                17.0  [P00113542, P00116542, P00192642, P00273742, P...
16                18.0  [P00343042, P00326242, P00111242, P00362842, P...

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(tablaTProd2['Product_ID'].to_list()).transform(tablaTProd2['Product_ID'].to_list())
df_tprod2 = pd.DataFrame(te_ary, columns=te.columns_)
df_tprod2

cont = 0
for i in min_support_tprod:
    print("Para min_support = " + str(i) + " y min_confidence = " + str(min_confidence_tprod[cont]) + ":")
    frequent_itemsets_tprod2 = apriori(df_tprod2, min_support=i, use_colnames=True, verbose=1)
    print(frequent_itemsets_tprod2)
    print("")
    
    if frequent_itemsets_tprod2.empty:
        print("No hay reglas de asociación que cumplan con los requisitos.")
    else:
        rules_tprod2 = association_rules(frequent_itemsets_tprod2, metric="confidence", min_threshold=min_confidence_tprod[cont])
        print(rules_tprod2)

    print("")
    cont = cont + 1

Para min_support = 0.3 y min_confidence = 0.7:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

Para min_support = 0.4 y min_confidence = 0.8:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

Para min_support = 0.5 y min_confidence = 0.9:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

- Para Tipo de producto 3:

In [ ]:
tablaTProd3 = itemset[['Product_ID', 'Product_Category_3']].dropna().drop_duplicates()
tablaTProd3 = tablaTProd3.groupby('Product_Category_3').agg(lambda x: list(x)).reset_index()
tablaTProd3

    Product_Category_3                                         Product_ID
0                  3.0                                        [P00059642]
1                  4.0        [P00369942, P00193642, P0096642, P00053342]
2                  5.0  [P00127942, P00145042, P00289942, P00057542, P...
3                  6.0  [P00045142, P00057942, P00010942, P00042142, P...
4                  8.0  [P00116842, P00110742, P00080342, P00003442, P...
5                  9.0  [P00025442, P00102642, P00082742, P00000242, P...
6                 10.0                             [P00277642, P00109242]
7                 11.0                                        [P00241642]
8                 12.0  [P00113142, P00119142, P0095842, P00245642, P0...
9                 13.0  [P00148642, P00135242, P00062842, P00150942, P...
10                14.0  [P00192042, P00112142, P00074642, P00182742, P...
11                15.0  [P00030842, P00154042, P00277442, P00277542, P...
12                16.0  [P00116942, P00240242, P00157642, P00142942, P...
13                17.0  [P00026042, P00114342, P00115142, P00073842, P...
14                18.0  [P00183342, P00281742, P00057742, P00121342, P...

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(tablaTProd3['Product_ID'].to_list()).transform(tablaTProd3['Product_ID'].to_list())
df_tprod3 = pd.DataFrame(te_ary, columns=te.columns_)
df_tprod3

cont = 0
for i in min_support_tprod:
    print("Para min_support = " + str(i) + " y min_confidence = " + str(min_confidence_tprod[cont]) + ":")
    frequent_itemsets_tprod3 = apriori(df_tprod3, min_support=i, use_colnames=True, verbose=1)
    print(frequent_itemsets_tprod3)
    print("")

    if frequent_itemsets_tprod3.empty:
        print("No hay reglas de asociación que cumplan con los requisitos.")
    else:
        rules_tprod3 = association_rules(frequent_itemsets_tprod3, metric="confidence", min_threshold=min_confidence_tprod[cont])
        print(rules_tprod3)

    print("")
    cont = cont + 1

Para min_support = 0.3 y min_confidence = 0.7:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

Para min_support = 0.4 y min_confidence = 0.8:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

Para min_support = 0.5 y min_confidence = 0.9:

Empty DataFrame
Columns: [support, itemsets]
Index: []

No hay reglas de asociación que cumplan con los requisitos.

In [ ]:
tablaGenero = itemset[['Product_ID', 'Gender']].dropna().drop_duplicates()
tablaGenero = tablaGenero.groupby('Gender').agg(lambda x: list(x)).reset_index()
tablaGenero

  Gender                                         Product_ID
0      F  [P00116942, P00025442, P00003642, P00043642, P...
1      M  [P00212942, P00178942, P00030842, P00154642, P...

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(tablaGenero['Product_ID'].to_list()).transform(tablaGenero['Product_ID'].to_list())
df_genero = pd.DataFrame(te_ary, columns=te.columns_)
df_genero

cont = 0
for i in min_support_genero:
    print("Para min_support = " + str(i) + " y min_confidence = " + str(min_confidence_genero[cont]) + ":")
    frequent_itemsets_genero = apriori(df_genero, min_support=i, use_colnames=True, verbose=1)
    print(frequent_itemsets_genero)
    print("")

    if frequent_itemsets_genero.empty:
        print("No hay reglas de asociación que cumplan con los requisitos.")
    else:
        rules_genero = association_rules(frequent_itemsets_genero, metric="confidence", min_threshold=min_confidence_genero[cont])
        print(rules_genero)

    print("")
    cont = cont + 1

Para min_support = 0.3 y min_confidence = 0.7:
Processing 196518978 combinations | Sampling itemset size 3

KeyboardInterrupt:

#### Pregunta Nº2: ¿Qué diferencias hay entre usar soporte y frecuencia? Respalda la respuesta con datos (1 punto)

#### Pregunta Nº3: ¿Qué tipo reglas desaparecen según la configuración y categorías (género, edad y tipo de producto) consideradas? ¿Por qué? (1 punto)

#### Pregunta Nº4: Para una de las configuraciones, interpreta algunas de las reglas que te hayan resultado interesantes obtenidas usando la clase association_rules y un par de configuraciones cambiando la variable metric y min_threshold. Justifica los resultados. (1 punto)

#### Pregunta Nº5: Dadas las mejores configuraciones. ¿Existen reglas o patrones que se repitan? ¿Podemos generalizar de alguna manera como se comportan los clientes? Expón las conclusiones respaldadas con datos (1 punto)